body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    transition: background-color .5s;
    /*position: relative;*/
}

body, html {
    height: 100%;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #1abc9c;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#SidenavBtn {
    width: 65px;
    height: 40px;
    position: fixed;
    background-color: black;
    margin: 20px;
}

.MenuBar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

header {
    height: 100%;
    padding: 320px;
    text-align: center;
    background-image: url("../img/background.jpg");
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

@media only screen and (max-device-width: 800px) {
  header {
    padding: 20px;
  }
}

header h1 {
    font-size: 53px;
    font-weight: bold;
}

header h2 {
    font-weight: normal;
    opacity: 0.7;
    font-size: 18px;
}

.social-icon {
    display: block;
    left: 0;
    font-size: 35px;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.social-icon li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

.social-icon li a {
  color: white;
}

.social-icon li a:hover {
    color: #1abc9c;
}

#resume {
    background-color: black;
    color: white;
}