body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    position: relative;
}

.nav-pills .nav-item .nav-link:not(.active) {
    background-color: rgba(255, 255, 255, 0.2);
    color: #159957;
}
.nav-pills .nav-item .nav-link{
    background-color: rgba(21, 153, 87, 1);
    color: white;
}

header {
    padding: 300px;
    text-align: center;
    background: -webkit-linear-gradient(90deg,#155799,#159957);
    background: -o-linear-gradient(90deg,#155799,#159957);
    background: -moz-linear-gradient(90deg,#155799,#159957);
    background: linear-gradient(90deg,#155799,#159957);
    color: white;
}

header h1 {
    font-size: 53px;
    font-weight: bold;
}

header h2 {
    font-weight: normal;
    opacity: 0.7;
    font-size: 18px;
}

#resume {
    background-color: black;
    color: white;
}